body {
	background: #262626;
	max-width: 100%;
	

}

.content{
       
		max-width: 1400px;
        margin: auto;
		padding: 20px;
}

#frontpage, #info, #portfolio_list, #portfolio_zoom {
	width: 90%;
	margin: 0px auto;
}

header {
	
	height: auto;
	background: grey;
	margin:0px;
	padding-bottom: 15px;
	display: block;
}

h1 {
	color: pink;
	text-align: center;
	margin:0px;
	padding-top: 20px;
	padding-bottom:20px;
	font-family: courier new;
	font-weight:  normal;
	font-size: 30px;
}

h2 {
	color: pink;
	margin:0px;
	padding-top: 10px;
	padding-bottom:5px;
	font-family: courier new;
	font-weight:  normal;
	font-size: 15px;
}

p {
	font-family: courier new;
	font-weight:  normal;
	font-size: 11px;
	color: pink;
}

a {
	text-decoration: none;
}

nav {
	text-align: center;
	width:100%;
	max-width: 600px;
	margin: 0px auto;
	
}

nav a {
	color: #fff;
	padding: 2%;
	font-family: courier new;
	font-weight:  normal;
	font-size: 14px;
}

nav a:hover {
	color: pink;
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}


footer {
	height: 100px;
	background: grey;
	text-align: center;
	display: block;
	padding: 20px;

}
/*infosidan*/ 

#info {
	overflow: hidden;
	max-width: 1000px;
	
}

img {
	width: 100%;
	border: 0px;
	
}

.infoblock {
	width: 100%;
	display: block;
	margin:auto;
	
}

/**/


/* Collage */

.Collage{

    /* define how much padding you want in between your images */
    padding:10px;

    }

.Collage img{

    /* ensures padding at the bottom of the image is correct */
    vertical-align:bottom;

    /* hide the images until the plugin has run. the plugin will reveal the images*/
    opacity:0;

    }
